body{
  font-family: 'Edu VIC WA NT Beginner', cursive;
}

.heading
  {
    font-size:23px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div
  {
    float:none;
    padding:10px;
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div2
  {
    font-size: 18px;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }

  .result_para_tag span{
    white-space: pre-line;
  }
 
  .copy_right_footer{
    background-color: teal;
    position:fixed;
    bottom:0;
    width:100%;
    color:white;
    text-align: center;
    line-height:1.5;
    font-size:20px;
  }

           
  .btn-grad {
    background-image: linear-gradient(to right, teal 0%, #3a6a45  51%, teal  100%);
    padding: 5px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  canvas
  {
    border:5px solid white;
    border-radius:20px;
    box-shadow:5px 5px 5px grey;
    margin-top:160px;
  } 